/* Main css : 전체적인 구성 및 틀을 잡는 CSS */

html, body {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'Tahoma','BinggraeTaom','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
}

table {
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    border-spacing: 10px;
}

.upMenu {
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0;
    /* transform: translateX(-14.4%); */
    background: white;
}


.bx-wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited { /* 링크를 사용했을 때 */
    color: black;
}

#promotionImg {
    width: 100%;
}

ul {
    padding-left: 0px;
    padding-bottom: 0px;
    list-style-type: none;
}

ol {
    padding-left: 0px;
    padding-bottom: 0px;
    list-style-type: none;
}

li {
    margin: 10px 0;
}

.menuImg {
    background-repeat: no-repeat;
    width: 33%;
}

.solariaEx {
    font-size: 15pt;
}

#solYoutube {
    padding-top:50px; 
    padding-left: 14%;
    padding-right: 14%;
    padding-bottom: 50px;
    width: 73%; 
}

.lastLink {
    text-align: center;
    font-size: 13pt;
    color: gray;
}

.lastMenu {
    background: gray;
}

footer {
    background: rgb(99, 95, 95);
}

.footText2 {
    color: white;
}