/* Main css : 전체적인 구성 및 틀을 잡는 CSS */

body {
    margin: none;
    padding-left: 14%;
    padding-right: 14%;
}

table {
    margin: auto;
    border-spacing: 10px;
}

/* #solMenu {
    position: fixed;
    width: 100%;
    transform: translateX(-10%);
    background: white;
} */

#logo {
    margin-top: 20px;
}

.menu {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13pt;
    font-style: unset;
    font-weight: 600;
}

.bx-wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited { /* 링크를 사용했을 때 */
    color: black;
}

#promotionImg {
    width: 100%;
}

ul {
    padding-left: 0px;
    padding-bottom: 0px;
    list-style-type: none;
}

ol {
    padding-left: 0px;
    padding-bottom: 0px;
    list-style-type: none;
}

li {
    margin: 10px 0;
}

.menuImg {
    background-repeat: no-repeat;
    width: 33%;
}

.solariaEx {
    font-size: 15pt;
}

#solYoutube {
    padding-top:50px; 
    padding-bottom: 50px;
    width:100%; 
}

.lastLink {
    text-align: center;
    font-size: 18pt;
    color: gray;
}

.lastMenu {
    background: gray;
}

footer {
    background: rgb(99, 95, 95);
}

#footText1 {
    color: rgb(157, 169, 153);
    font-size: 12pt;
    text-align: center;
}

.footText2 {
    color: white;
}